<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Incognito</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootswatch/dist/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="~/lib/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Incognito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @await Html.PartialAsync("_LinkPartial")
                @await Html.PartialAsync("_LinkMemberPartial")
                @await Html.PartialAsync("_LinkModeratorPartial")
                @await Html.PartialAsync("_LinkAdminPartial")
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer container-fluid">
        <span class="text-muted"><strong>&copy Incognito </strong>- Made with <strong style="color:red">&hearts;</strong> by <a target="_blank" href="https://twitter.com/fnlsg">Ashwini Gupta</a></span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.timeago.js"></script>
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
