@if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="" asp-action="">Member</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="" asp-action="">Setting</a>
    </li>
}