@if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Moderator" asp-action="Report">Report Messages</a>
    </li>
}