<div class="card text-center">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="margin-bottom: -1px">
            <a asp-controller="User" asp-action="Index"><i class="fas fa-inbox"></i> Inbox </a>
        </li>
        <li class="list-group-item" style="margin-bottom: -1px">
            <a asp-controller="User" asp-action="Archive"><i class="fas fa-archive"></i> Archives </a>
        </li>
    </ul>
</div>