<div class="card text-center">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="margin-bottom: -1px">
            <a asp-controller="Profile" asp-action="Index"><i class="fas fa-user"></i> Profile </a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Manage" asp-action="Index"><i class="fas fa-cog"></i> Account Setting </a>
        </li>
    </ul>
</div>