@model Incognito.Models.ProfileViewModel.PublicVM
@{
    ViewBag.Title = @ViewData["User"] + " Profile";
}

<div class="row">
    <div class="col-lg-4">
        @await Html.PartialAsync("_ProfileCardPartial")
    </div>
    <div class="col-lg-8">
        <div class="card text-center">
            <h5 class="card-header">Leave your message below.</h5>
            <div class="card-body">
                @{
                    var receiverId = ViewData["receiverId"];
                }

                <form asp-controller="Public" asp-action="Index">
                    <input type="hidden" asp-for="PublicMessage.ReceiverId" />
                    <div class="form-group">
                        <textarea asp-for="PublicMessage.Text" rows="6" class="form-control"></textarea>
                        <span asp-validation-for="PublicMessage.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
