@model Incognito.Models.MessageViewModel.MessageViewModel
@{
    ViewBag.Title = "Title";
}

<div class="row">
    <div class="col col-md-4 d-flex justify-content-center" style="padding-bottom:25px;">
        <div class="card" style=" width:256px;">
            <img class="card-img-top" src="~/images/Ashwini.jpeg" alt="Card image cap" style="height:256px;">
            <div class="card-body">
                <h3 class="card-title">
                    @ViewData["User"]
                </h3>
                <p class="card-text">Write some description here...</p>
            </div>
        </div>
    </div>

    <div class="col col-md-7 text-center">
        <p class="lead">Leave your message below.</p>
        @{
        var receiverId = ViewData["receiverId"];
        }

        <form asp-controller="Public" asp-action="Index">
            <input type="hidden" asp-for="@receiverId" />
            <div class="form-group">
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
            </div>
        </form>
    </div>
</div>