@model Incognito.Models.UserProfile

@{
    ViewData["Title"] = " Profile";
}

<div class="row">
    <div class="col-lg-4" style="padding-bottom:25px;">
        @await Html.PartialAsync("_ProfileCardPartial")
        @await Html.PartialAsync("_ProfileLinkPartial")
    </div>

    <div class="col-lg-8">
        <form class="card" asp-controller="Profile" asp-action="Index">
            <div class="card-body">
                <h3 class="card-title">Edit Profile</h3>
                <hr />
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label">Username</label>
                            <input asp-for="User.UserName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="form-group">
                            <label class="form-label">Email address</label>
                            <input asp-for="User.Email" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">First Name</label>
                            <input asp-for="User.FirstName" class="form-control" placeholder="First Name">
                            <span asp-validation-for="User.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Last Name</label>
                            <input asp-for="User.LastName" class="form-control" placeholder="Last Name">
                            <span asp-validation-for="User.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Company</label>
                            <input asp-for="CompanyName" class="form-control" placeholder="Company">
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Job Title</label>
                            <input asp-for="JobTitle" class="form-control" placeholder="Job">
                            <span asp-validation-for="JobTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Twitter Handle</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fab fa-twitter"></i></div>
                            </div>
                            <input asp-for="Twitter" class="form-control" placeholder="fnlsg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Instagram</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fab fa-instagram"></i></div>
                            </div>
                            <input disabled class="form-control" placeholder="Not implimented yet.." value="">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <label class="form-label">After Words</label>
                            <textarea asp-for="AfterWords" rows="5" class="form-control" placeholder="This message is shown to the sender."></textarea>
                            <span asp-validation-for="AfterWords" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </div>
</div>