@{
    ViewData["Title"] = "About";
}
<h2 class="text-center"><i class="fas fa-user-secret"></i > Incognito</h2>
<hr />

<h3>
    Incognito is anonymous message sending application created for colleagues, friends and others, here they can able to share thoughts about you which they were unable to express impersonal.
</h3>