@{
    ViewData["Title"] = "Contact";
}
<h1>Need Help!</h1>
<hr />
<p>Feel free to contact us.</p>
<p>
    <strong><i class="fas fa-envelope"></i> Email:</strong> <a href="mailto:dev.ashwini@hotmail.com">dev.ashwini@hotmail.com</a><br />
    <strong><i class="fab fa-twitter"></i> Twitter:</strong> <a target="_blank" href="http://twitter.com/fnlsg">@@fnlsg</a><br />
</p>
