@model Incognito.Models.AdminViewModel.RoleVM

@{
    ViewBag.Title = "Incognito Roles";
    var count = 1;
}

<div class="card">
    <div class="card-body">
        @await Html.PartialAsync("_AddRolePartial")
    </div>
</div>
<br />
<h4>Existing Roles</h4>
<br />

@if (!Model.IdentityRole.Any())
{
    <div class="alert alert-warning"><h4>No Role found in System</h4></div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.IdentityRole)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        <a asp-action="EditRole" asp-route-id="@role.Id">
                            <i class="far fa-edit"></i> Edit
                        </a> |
                        <a href="#" class="js-delete-role" role-id="@role.Id" style="color:red">
                            <i class="far fa-trash-alt"></i> Delete
                        </a>
                    </td>
                </tr>
                { count = count + 1; }
            }
        </tbody>
    </table>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}