@using System.Globalization;
@model IList<Incognito.Models.ReportMessage>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Message
            </th>
            <th>
                Reason
            </th>
            <th>
                Reported Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="ellipsis">
                    @Html.DisplayFor(modelItem => item.Message.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    <time class="timeago" datetime="@item.ReportTime.ToLocalTime().ToString("o")"></time>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-action="ReportMessageDetail" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
